<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="7306CBEBBB89.2446588ED59CF" Publisher="CN=3A7406AE-57BC-445A-A17D-01ACE0CBE125" Version="1.2.2.0" />
  <mp:PhoneIdentity PhoneProductId="2515244b-20c7-49be-88d8-1411ad08f1b6" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>碑帖分割器</DisplayName>
    <PublisherDisplayName>卢立雪</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BeitieSpliter.App">
      <uap:VisualElements DisplayName="碑帖分割器" Square150x150Logo="Assets\Square150x150Logo.png" Description="对碑帖图片进行单字分割" Square44x44Logo="Assets\BeitieSpliter44X44Logo.png" BackgroundColor="transparent">
        <uap:DefaultTile>
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="lightGray" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary"/>
  </Capabilities>
</Package>