<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="com.beitie.splitter" Publisher="CN=v-ligxia" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="2bdad46f-c0ac-488e-9e6f-b42efe800426" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>BeitieSpliter</DisplayName>
    <PublisherDisplayName>v-ligxia</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BeitieSpliter.App">
      <uap:VisualElements DisplayName="碑帖分割器" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\BeitieSpliter44X44Logo.png" Description="对碑帖图片进行单字分割" BackgroundColor="transparent">
        <uap:DefaultTile ShortName="碑帖分割工具">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="lightGray" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary" />
  </Capabilities>
</Package>